
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<div class="dataTable_wrapper">
    <table class="display" cellspacing="0" width="100%" id="table-users">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    $(document).ready(function() {
        $('#table-users').DataTable({
            'responsive': true,
            'processing': true,
            'serverSide': true,
            'ajax': {
                'url': '@Url.Action("Data", "Users")',
                'type': 'POST'
            },
            'columns': [
                { 'data': "id" },
                { 'data': "name" },
                { 'data': "email" }
            ],
            'ordering': false,
            'info': false,
            'searchDelay': 1000
        });
    });
}