
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div class="dataTable_wrapper">
    <table class="display" cellspacing="0" width="100%" id="table-users">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Activated</th>
                <th>Deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    $(document).ready(function() {
    $('#table-users').DataTable({
    'responsive': true,
    'processing': true,
    'serverSide': true,
    'ajax': {
    'url': '@Url.Action("Data", "Users")',
    'type': 'POST'
    },
    'columns': [
    { 'data': "id" },
    { 'data': "name" },
    { 'data': "email" },
    { 'data': "emailConfirmed" },
    { 'data': "isDeleted" },
    {
    'data': "id",
    'render': function (data, type, row, meta) {
    return '<button onclick="deleteUser(\'' + data + '\')">Delete</button>';
    }
    }
    ],
    'ordering': false,
    'info': false,
    'searchDelay': 1000
    });
    });

    function deleteUser(id) {
    $.ajax({
    url: '@Url.Action("Delete", "Users")' + '?userId=' + id,
    type: 'POST',
    contentType: 'application/json',
    success: function(result) {
    alert("Removed");
    }
    });
    }
}