name: Build & Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: deployment
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    name: Build & Deploy to dev

    environment:
      name: dev
      url: https://dev.imperaonline.de

    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
        name: Set up Docker Buildx
        id: buildx
      - run: docker build -t impera-backend:latest -t impera-backend:${{ github.sha }} .
      - run: docker save impera-backend:latest -o impera-backend.tar
      - name: Copy container to server
        uses: appleboy/scp-action@v0.1.7
        with:
          source: impera-backend.tar
          target: /images
          host: 217.160.244.154
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}
          timeout: 10m
      - name: Import image & use for dev
        uses: appleboy/ssh-action@v1.2.0
        with:
          script: |
            docker load -i /images/impera-backend.tar
            docker-compose -p impera-backend -f /images/docker-compose-impera-backend.yml up -d --remove-orphans
          host: 217.160.244.154
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}

  prod:
    runs-on: ubuntu-latest

    needs: [build]

    environment:
      name: production
      url: https://www.imperaonline.de

    steps:
      - name: Import image & use for prod
        uses: appleboy/ssh-action@v1.2.0
        with:
          script: |
            docker tag impera-backend:latest impera-backend:production
            docker-compose -p impera-backend -f /images/docker-compose-impera-backend.yml up -d --remove-orphans
          host: 217.160.244.154
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}
